body {
  background-color: black;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#grid {
  position: relative;
  color: green;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.drop {
  position: absolute;
}

.drop-real {
  display: flex;
  flex-direction: column;
  /* text-orientation: upright;
  writing-mode: vertical-lr; */
}

.drop-head {
  text-orientation: upright;
  writing-mode: vertical-lr;
  background: white;
  -webkit-background-clip: text;
  color: transparent;
  white-space: nowrap;
}

.drop-tail {
  text-orientation: upright;
  writing-mode: vertical-lr;
  background: linear-gradient(black, green);
  -webkit-background-clip: text;
  color: transparent;
  white-space: nowrap;
}

.drop-empty {
  text-orientation: upright;
  writing-mode: vertical-lr;
  color: transparent;
  white-space: nowrap;
}
